

script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/swiper-bundle.min.js")
script(src="js/plugins/jquery.magnific-popup.min.js")
script(src="js/plugins/wow.js")
script(src="./js/index.js")



