

script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/bootstrap.min.js")
script(src="js/plugins/swiper-bundle.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/dropzone.min.js")
script(src="js/plugins/jquery.formstyler.min.js")
script(src="js/plugins/jquery.magnific-popup.min.js")
script(src="./js/index.js")



