doctype html
block variables

html(lang='ru')
  include ../_components/mixins
  include ../templates/head

  body.body(class=pageClass)
    include ../_components/header


    
    block content

    
    include ../_components/footer

    include ../templates/scripts.pug

