doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head
  



  body(itemscope="itemscope" itemtype="http://schema.org/WebPage")
    .modal-backdrop-custom
    .header-fade
    include ../_components/modals

    .wrapper
      block content
        
      
      
      
      
      
      
      
      
      
    include ../templates/scripts.pug
      
