doctype html
block variables

html(lang='ru')
  include ../_components/mixins
  include ../templates/head

  body.body(class=pageClass)
    img(src=`img/up-button.svg` alt='', title='').upbutton#upbutton
    include ../_components/header
    .wrapper
      block content



    include ../templates/scripts.pug

