.modal
  .modal-overlay.modal-toggle
  .modal-wrapper.modal-transition
    .registration-form__wrap
      .registration-form__info
        h2.h2  регистрация
        .registration-form__title
          span.f-bold Мы популяризируем бег и объединяем клубы. <br>
          | Мы развиваем спортивный нетворкинг.<br>
          | Лучшие соревнуются с лучшими.<br>
          span.f-bold Но на Afterparty by DD вы отдохнёте.
        .registration-form__list
          ul
            li Вход свободный
            li Видовой проезд на канатной дороге до Afterparty
            li Розыгрыши и интерактивы от партнеров вечеринки
            li Зоны BAR&FOOD
      form.registration-form
        input(type="text" placeholder="ФИО")
        input(type="number" placeholder="Возраст")
        input(type="tel" placeholder="Телефон")
        input(type="email" placeholder="Почта")
        input(type="text" placeholder="Беговой клуб")
        button.submit-btn(type="submit") Отправить
